node_modules
dist
.vscode
src/domashno/lessons/images/

src/domashno/lessons/matematika/

src/domashno/lessons/fizika/

src/domashno/lessons/images - Copy/

src/domashno/lessons/images - Copy (2)/

src/domashno/lessons/matematika - Copy/
